In [1]:
import pandas as pd
import numpy as np

In [2]:
genes_df = pd.read_csv('intersect_output.bed', sep='\t', header=None, names = ["chromosome", "source", "feature_type", "start", "end", "score", "strand", "phase", "attributes", "count"])
genes_df = genes_df[genes_df['feature_type'] == 'gene']
genes_df = genes_df.drop(columns = ['count'])

In [3]:
reads_df = pd.read_table('bins_coverage.txt', names = ["chromosome", "start", "end", "read_count", "bases_covered", "bin_size", "coverage_fraction"])

In [8]:
def get_genes_in_bin(row):
    chrome = row['chromosome']
    start = row['start']
    end = row['end']
    
    temp_df = genes_df.loc[genes_df['chromosome'] == chrome]
    
    temp_df = temp_df[((temp_df['start'] >= start) & (temp_df['start'] < end)) | 
                       ((temp_df['end'] >= start) & (temp_df['end'] < end))]
    
    total_genes_length = (temp_df['end'] - temp_df['start']).sum()
    total_genes = temp_df.shape[0]
    
    return pd.Series([total_genes, total_genes_length], index=['total_genes', 'total_genes_length'])

In [9]:
reads_df.loc[:, ['total_genes', 'total_genes_length']] = reads_df.apply(get_genes_in_bin, axis=1)
reads_df

,chromosome,start,end,read_count,bases_covered,bin_size,coverage_fraction,total_genes,total_genes_length
0,NC_000001.11,0,5000,0,0,5000,0.000000,0,0
1,NC_000001.11,5000,10000,0,0,5000,0.000000,0,0
2,NC_000001.11,10000,15000,588,1083,5000,0.216600,0,0
3,NC_000001.11,15000,20000,1788,4986,5000,0.997200,1,67
4,NC_000001.11,20000,25000,2056,5000,5000,1.000000,0,0
...,...,...,...,...,...,...,...,...,...
660054,NT_113949.2,175000,177381,0,0,2381,0.000000,0,0
660055,NC_012920.1,0,5000,110973,4784,5000,0.956800,10,4925
660056,NC_012920.1,5000,10000,308407,5000,5000,1.000000,15,5542
660057,NC_012920.1,10000,15000,143168,5000,5000,1.000000,12,5888
660058,NC_012920.1,15000,16569,33823,1568,1569,0.999363,3,1272